# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=7fa4427b-1fb8-4370-bc63-51f9ac5a52d8

    # Set to true to disable all reporting
    B:opt-out=false
}


